* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

table, table * {
  border: 2px solid #9BF0E1;
  padding: 1px;
  width: auto;
}

table {
  background-color: #222326;
}

table tr {
  background-color: #9BF0E1;
}

table td {
  font-weight: bold;
}

#wrapper {
  margin: 0 auto;
}

h1 {
  font-family: Verdana;
}
